/* Phan Trang */
.holder {
	padding-right: 5px;
	float:right;
}

.holder a,.holder span {
    float: left;
	text-decoration: none;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
	text-align: center;
	width: 32px;
	height: 32px;
	overflow: hidden;
	line-height: 32px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #9b9b9b;
	background: #e3e3e2;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.holder a:hover {
	background-color: #135F92;
	color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover {
    background-color: #135F92;
	color: #fff;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default;
}
.holder span { margin: 0 5px; }